*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; /*hides the dumb border thing lmao */
}

/* ----------------main--------------- */

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 110vh;
    background-image: url('images/mainbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.homeicon{
    width: 200px;
    float: left;
    height: 70px;
}

/*.navbar{
    width: 100%;
    float: left;
    height: 70;
    text-align: center;
} */

/* ----------------navbar block--------------- */

#navbar{
    overflow: hidden;
    background-color: none; /* background colou was disabled for navbar */
    z-index: 5;
    padding-left: 22px;
}
  

#navbar a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 2px #ffffff solid; /* edit the boder here */
    border-radius: 22px;
}
  
#navbar a:hover{
    background-color: #02b4a2;
    color: #ffffff;
}
  
#navbar a.active{
    background-color: #04AA6D;
    color: #ffffff;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content{
    padding-top: 60px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    position: sticky;
}

/* ----------------navbar icons--------------- */

.homeimg{
    width: 20px;
    transform: translateY(8px);
    transform: translateX(-4px);
    filter: brightness(0) invert(1);
}

.aboutmeimg{
    width: 20px;
    transform: translateY(8px);
    transform: translateX(-4px);
    filter: brightness(0) invert(1);
}

.twoddesignimg{
    width: 20px;
    transform: translateY(8px);
    transform: translateX(-4px);
    filter: brightness(0) invert(1);
}

.cadimg{
    width: 20px;
    transform: translateY(9px);
    transform: translateX(-5px);
    filter: brightness(0) invert(1);
}

.threedprintimg{
    width: 20px;
    transform: translateY(8px);
    transform: translateX(-4px);
    filter: brightness(0) invert(1);
}

.laserimg{
    width: 20px;
    transform: translateY(8px);
    transform: translateX(-5px);
    filter: brightness(0) invert(1);
}

.webdevimg{
    width: 20px;
    transform: translateY(8px);
    transform: translateX(-6px);
    filter: brightness(0) invert(1);
}

.finalimg{
    width: 20px;
    transform: translateY(8px);
    transform: translateX(-4px);
    filter: brightness(0) invert(1);
}

/* ----------------about me section--------------- */

.homecontent{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial;
    z-index: 0;
}

h1{
    font-size: 50px;
}

p{
    font-size: 25px;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
}
  
td, th{
    text-align: center;
    padding: 8px;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #02b4a2;
}
  
tr:nth-child(even){
    background-color: #000000;
}

.info{
    background-color: rgb(20, 20, 20);
    height: auto;
}

.infotable{
    padding-top: 82px;
    color: white;
    font-size: 55px;
}

.infoimg{
    width: 220px;
    height: auto;
}

.infocontent{
    color: white;
    text-align: center;
    font-size: 32px;
    padding-top: 45px;
    padding-bottom: 55px;
}

/* ----------------2D design section--------------- */

.twoddesigngimp{ 
    Width: 100%;
    height: 225vh;
    padding-top: 39px;
    background-color: rgb(20, 20, 20);
    color: white;
    transition: 0.5s;
    overflow-x: hidden; 
}

.twoddesigngimptitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.twoddesigniksc{
    Width: 100%;
    height: 145vh;
    padding-top: 35px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden;
}

.twoddesigniksc{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

/* ----------------2D design section (GIMP)--------------- */
/* <fodder barrier here because github didnt push my CSS changes over> */ 
.twoddesigngimpintroimg{
    width: 240px;
    transform: translateX() translateY();   
}

.twoddesigngimpintrotitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigngimpintrotext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.twoddesigngimpimg1{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigngimptitle1{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigngimptext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.twoddesigngimpimg2{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigngimpimg22{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigngimptitle2{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigngimptext2{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.twoddesigngimpimg3{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigngimptitle3{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigngimptext3{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.twoddesigngimpimg4{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigngimptitle4{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigngimptext4{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.twoddesigngimpimg5{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigngimptitle5{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigngimptext5{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

/* ----------------2D design section (Inkscape)--------------- */

.twoddesignikscintroimg{
    width: 240px;
    transform: translateX() translateY();   
}

.twoddesignikscintrotitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesignikscintrotext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.twoddesignikscimg1{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesignikscimg11{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigniksctitle1{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigniksctext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.twoddesignikscimg2{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigniksctitle2{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigniksctext2{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.twoddesignikscimg3{
    width: 240px;
    transform: translateX() translateY(); 
}

.twoddesigniksctitle3{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.twoddesigniksctext3{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

/* ----------------cad section--------------- */

.cad{
    background-image: url('images/cadbackground2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    height: 125vh;
} 

.cadtitle{
    text-align: center;
    padding-top: 79px;
    color: white;
}

/* ----------------cad nav subsection--------------- */

.imga{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;                  /* i know this is horrible */
    color: white;                      /* but honestly, idk man */
    cursor: pointer;                       /* im not fixing this */
    position: relative;                    /* for the fifth time already */
    overflow: hidden;
    background-color: none;
    z-index: 1;
    float: left;
    justify-content: center;
    transform: translateX(34%);
}

.imgb{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: none;
    z-index: 1;
    float: left;
    justify-content: center;
    transform: translateX(34%);
}

.imgc{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: none;
    z-index: 1;
    float: left;
    justify-content: center;
    transform: translateX(34%);
}


.imgd{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: none;
    z-index: 1;
    float: left;
    justify-content: center;
    transform: translateX(34%);
}

.imge{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: none;
    z-index: 1;
    float: left;
    justify-content: center;
    transform: translateX(34%);
}

.imgf{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: none;
    z-index: 1;
    float: left;
    justify-content: center;
    transform: translateX(34%);
}

.imgg{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: none;
    z-index: 1;
    float: left;
    justify-content: center;
    transform: translateX(34%);
}

.imgh{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: none;
    z-index: 1;
    float: left;
    justify-content: center;
    transform: translateX(34%);
}

/*------------------cad project head div---------------------*/

.cadprojecta{ /* the first practice (assignment 1) */ 
    Width: 100%;
    height: 160vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    transition: 0.5s;
    overflow-x: hidden; 
}

.cadprojectatitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.cadprojectb{
    Width: 100%;
    height: 350vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden;
}

.cadprojectbtitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}


.cadprojectc{
    Width: 100%;
    height: 100vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden; 
}

.cadprojectbtitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.cadprojectd{
    Width: auto;
    height: 130vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden; 
}

.cadprojectdtitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.cadprojecte{
    Width: auto;
    height: 100vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden; 
}

.cadprojectetitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.cadprojectf{
    Width: auto;
    height: 110vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden; 
}

.cadprojectftitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.cadprojectg{
    Width: auto;
    height: 180vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden; 
}

.cadprojectgtitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.cadprojecth{
    Width: auto;
    height: 90vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden; 
}

.cadprojecthtitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.tester{
    transform: translateX(150px);
}


/*----------------CAD PROJECT A---------------*/

.Assignment1cadtitle{
    float: left;
    padding-left: 240px;
    padding-top: 260px;
    font-weight: bold;
    transform: translateX(48px);
}

.Assignment1cadtext{
    float: left;
    padding-left: 240px;
    padding-top: 10px;
    transform: translateX(48px) translateY(20px);
    width: 600px;
}

.CADassignment1cadimg{
    width: 420px;
    height: auto;
    float: left;
    border-radius: 20px;
    transform: translateX(160px) translateY(65px);
}


.Assignment1modeltitle{
    float: left;
    padding-left: 240px;
    padding-top: 260px;
    font-weight: bold;
    transform: translateX(-100px) translateY(-150px);
}

.Assignment1modeltext{
    float: left;
    padding-left: 240px;
    padding-top: 10px;
    transform: translateX(-840px) translateY(185px);
    width: 450px;
}

.CADassignment1modelimg{
    width: 600px;
    height: auto;
    float: left;
    border-radius: 20px;
    transform: translateX(320px) translateY(365px);
} 


/*----------------CAD PROJECT B---------------*/

.Assignment2cadtitle{
    float: left;
    padding-top: 255px;
    font-weight: bold;
    transform: translateX(288px) translateY(-180px);
    overflow-x: hidden;
}

.Assignment2cadtext{
    float: left;
    padding-left: 240px;
    padding-top: 10px;
    transform: translateX(610px) translateY(-180px);
    width: 450px;
    font-size: 22px;
}

.CADassignment2cadimg{
    width: 560px;
    height: auto;
    float: left;
    border-radius: 20px;
    transform: translateX(160px) translateY(65px);
}

.Assignment2modelpart1title{
    float: left;
    padding-left: 240px;
    padding-top: 260px;
    font-weight: bold;
    transform: translateX(-80px) translateY(-390px);
}

.Assignment2modelpart1text{
    float: left;
    padding-left: 240px;
    padding-top: 10px;
    transform: translateX(-820px) translateY(-65px);
    width: 450px;
}

.CADassignment2modelpart1img{
    width: 550px;
    height: auto;
    float: left;
    border-radius: 20px;
    transform: translateX(120px) translateY(180px);
} 

.Assignment2modelpart2title{
    float: left;
    padding-left: 140px;
    padding-top: 255px;
    font-weight: bold;
    transform: translateX(670px) translateY(-420px);
}

.Assignment2modelpart2text{
    float: left;
    padding-left: 240px;
    padding-top: 10px;
    transform: translateX(-70px) translateY(-100px);
    width: 450px;
}

.CADassignment2modelpart2img{
    width: 560px;
    height: auto;
    float: left;
    border-radius: 20px;
    transform: translateX(-580px) translateY(135px);
}

.Assignment2modelpart3title{
    float: left;
    padding-left: 240px;
    font-weight: bold;
    transform: translateX(-80px) translateY(-200px);
}

.Assignment2modelpart3text{
    float: left;
    transform: translateX(-460px) translateY(-125px);
    width: 450px;
}

.CADassignment2modelpart3img{
    width: 550px;
    height: auto;
    border-radius: 20px;
    transform: translateX(160px) translateY(120px);
} 

.Assignment2modelpart4title{
    font-weight: bold;
    transform: translateX(-210px) translateY(280px);
}

.Assignment2modelpart4text{
    transform: translateX(860px) translateY(-125px);
    width: 450px;
}

.CADassignment2modelpart4img{
    width: 560px;
    height: auto;
    float: left;
    border-radius: 20px;
    transform: translateX(160px) translateY(125px);
} 

/*----------------CAD PROJECT C---------------*/

.Assignment3cadtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment3cadtext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.CADassignment3cadimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
}


.Assignment3modeltitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment3modeltext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.CADassignment3modelimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
} 

/*----------------CAD PROJECT D---------------*/

.Assignment4cadtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment4cadtext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment4cadimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
}


.Assignment4modeltitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment4modeltext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment4modelimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
} 

/*----------------CAD PROJECT E---------------*/

.Assignment5cadtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment5cadtext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment5cadimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
}


.Assignment5modeltitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment5modeltext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment5modelimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
} 

/*----------------CAD PROJECT F---------------*/

.Assignment6cadtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment6cadtext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment6cadimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
}


.Assignment6modeltitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment6modeltext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment6modelimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
} 

/*----------------CAD PROJECT G---------------*/

.Assignment7cadtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment7cadtext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment7cadimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
}


.Assignment7modeltitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment7modeltext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment7modelimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
} 

/*----------------CAD PROJECT H---------------*/

.Assignment8cadtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment8cadtext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment8cadimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
}


.Assignment8modeltitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.Assignment8modeltext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.CADassignment8modelimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
} 


/* ----------------3D printing section--------------- */

.threedprintingheader{
    z-index: -1;
    background-image: url('images/3dprintheader.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    height: 120vh;
}

.threedprintingheadertitle{
    text-align: center;
    color: #FFFFFF;
    transform: translateY(210px);
}

.threedprint{
    height: 160vh;
    padding-top: 79px;
    background-size: auto;
    /*background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);*/
    background-color: rgb(39, 201, 212);
}

/* ----------------3D printing chart graphic--------------- */

.threedflowchart{
    height: 160vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.researchimg{
    width: 220px;
    transform: translateX(300px)  translateY(80px);
}

.researchtitle{
    font-size: 36px;
    transform: translateX(318px)  translateY(80px);
}

.researchsubtext{
    font-weight: bold;
    text-align: center;
    transform: translateX(-335px) translateY(-45px);
}

.ideationimg{
    width: 220px;
    transform: translateX(735px) translateY(70px);
}

.ideationtitle{
    font-size: 36px;
    transform: translateX(1000px) translateY(45px);
}

.ideationsubtext{
    font-weight: bold;
    text-align: center;
    transform: translateX(335px) translateY(-95px);
}

.designimg{
    width: 220px;
    transform: translateX(-165px) translateY(665px);
}

.designtitle{
    font-size: 36px;
    transform: translateX(325px) translateY(595px);
}

.designsubtext{
    font-weight: bold;
    text-align: center;
    transform: translateX(-340px) translateY(438px);
}

.createimg{
    width: 220px;
    transform: translateX(300px) translateY(670px);
}

.createtitle{
    font-size: 36px;
    transform: translateX(1023px) translateY(555px);
}

.createsubtext{
    font-weight: bold;
    text-align: center;
    transform: translateX(345px) translateY(410px);
}

/* Phone stand settings */

.handphonestand{
    Width: auto;
    height: 118vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden; 
}

.threeDstand{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

/*----------------Phone Stand Section---------------*/

.threeDstandtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.threeDstandcadtext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.threeDstandcadimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
}


.threeDstandmodeltitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.threeDstandmodeltext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.threeDstandmodelimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
} 

/* ----------------laser cutting section--------------- */

/* Accessory Box settings */

.Accessorybox{
    Width: auto;
    height: 130vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden; 
}

.LCboxheader{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

/*----------------Accessory Box Section---------------*/

.LCboxtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.LCboxcadtext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.LCboxcadimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
}


.LCboxmodeltitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.LCboxmodeltext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}

.LCboxmodelimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();
} 

/* ----------------Web development section--------------- */

.webdev{
    Width: 100%;
    height: 110vh;
    padding-top: 79px;
    color: white;
    background-color:#ccb7b7; 
    overflow-y: hidden;
    overflow-x: hidden;
}

.webdevheader{  
    padding-top: 34px;
} 

.HTMLbackground{
    z-index: -1;
    width: auto;
    float: left;
    transform: translateY(3px);
    opacity: 0%;
}

.CSSbackground{
    z-index: -1;
    width: auto;
    float: right;
    transform: translateX(220px) translateY(-1846px);
    opacity: 0%;
}

.webdevheadertitle{
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 140px;
    z-index: 2;
}

.webdevbuttonHTML{
    width: 200px;
    height: 12px;
    z-index: 2;
    position: absolute;
    left: 30%;
    background-color: #000000;
    transform: translateX(55px) translateY(240px);
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
    font-size: 35px;
    border: 2px #ffffff solid; /* edit the border here */
    border-radius: 25px;
    cursor: pointer;
    padding-bottom: 46px;
    padding-top: 8px;
    transition: 0.5s;
}

.webdevbuttonCSS{
    width: 200px;
    height: 12px;
    z-index: 2;
    position: absolute;
    left: 47%;
    background-color: #000000;
    transform: translateX(85px) translateY(240px);
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    border: 2px #ffffff solid; /* edit the border here */
    border-radius: 25px;
    cursor: pointer;
    padding-bottom: 46px;
    padding-top: 8px;
}

.webdevhtml{ 
    Width: 100%;
    height: 275vh;
    padding-top: 39px;
    background-color: rgb(20, 20, 20);
    color: white;
    transition: 0.5s;
    overflow-x: hidden; 
}

.webdevhtmltitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

.webdevcss{
    Width: 100%;
    height: 275vh;
    padding-top: 35px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-x: hidden;
}

.webdevcsstitle{
    padding-top: 48px;
    padding-left: 48px;
    font-weight: bold;
}

/* -----------------HTML content section---------------- */

.webdevhtmlintroimg{
    width: 700px;
    border-radius: 20px;
    transform: translateX(200px) translateY(50);
}

.webdevhtmlintrotitle{
    font-weight: bold;
    transform: translateX(0px) translateY(24px); 
    font-size: 36px;
    width: 300px;
}

.webdevhtmlintrotext{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    transform: translateX() translateY(20px); 
}

.webdevhtmlimg1{
    width: 35%;
    border-radius: 20px;
    transform: translateX() translateY(); 
}

.webdevhtmltitle1{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevhtmltext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.webdevhtmlimg2{
    width: 35%;
    border-radius: 20px;
    transform: translateX() translateY(); 
}

.webdevhtmltitle2{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevhtmltext2{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.webdevhtmlimg3{
    width: 35%;
    border-radius: 20px;
    transform: translateX() translateY(); 
}

.webdevhtmltitle3{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevhtmltext3{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.webdevhtmlimg4{
    width: 35%;
    border-radius: 20px;
    transform: translateX() translateY(); 
}

.webdevhtmltitle4{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevhtmltext4{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}


/* -----------------CSS content section---------------- */

.webdevcssintroimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();   
}

.webdevcssintrotitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevcssintrotext{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.webdevcssimg1{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY(); 
}

.webdevcsstitle1{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevcsstext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.webdevcssimg2{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY(); 
}

.webdevcsstitle2{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevcsstext2{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.webdevcssimg3{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY(); 
}

.webdevcsstitle3{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevcsstext3{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.webdevcssimg4{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY(); 
}

.webdevcsstitle4{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px;
}

.webdevcsstext4{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}


/* ----------------final project section--------------- */

.finalproject{
    Width: auto;
    height: 350vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
}

.finalprojectintro{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectintroimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();  
}

.finalprojectintrotitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectintrotext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectintrotext2{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}



.finalprojectCAD{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectCADimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();  
}

.finalprojectCADtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectCADtext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectCADtext21{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectCADtext3{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectCADtext4{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectCADtext5{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}


.finalprojectElec{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectElecimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();  
}

.finalprojectElectitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectElectext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectElectext2{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectElectext3{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectElectext4{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}


.finalprojectCode{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectCodeimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();  
}

.finalprojectCodetitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectCodetext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectCodetext2{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectCodetext3{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}

.finalprojectCodetext4{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}


.finalprojectLaser{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectLaserimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();  
}

.finalprojectLasertitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectLasertext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}


.finalproject3D{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalproject3Dimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();  
}

.finalproject3Dtitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalproject3Dtext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY();
}


.finalprojectTest{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectTestimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();  
}

.finalprojectTesttitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectTesttext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}


.finalprojectDone{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojectDoneimg{
    width: 240px;
    border-radius: 20px;
    transform: translateX() translateY();  
}

.finalprojectDonetitle{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 36px; 
}

.finalprojecttext1{
    font-weight: bold;
    text-align: center;
    transform: translateX() translateY(); 
}
/* ----------------auxillary section--------------- */

.Promotext{
    font-weight: bold;
    transform: translateX() translateY(); 
    font-size: 48px; 
}

.Posterlink{
    background-color: rgb(20, 20, 20);
    color: white;
    transform: translateX() translateY(); 
}

.promoposter{
    padding-top: 79px;
    width: 540px;
    background-color: rgb(20, 20, 20);
    color: white;
    transform: translateX() translateY(); 
}

.Videolink{
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
    transform: translateX() translateY(); 
}

.morestuff{
    Width: auto;
    height: 110vh;
    padding-top: 79px;
    background-color: rgb(20, 20, 20);
    color: white;
}

/* ----------------prototype code (warning: unstable and may cause some pain to the brain)--------------- */

/*

.cadbuttona{
    float: left;
    margin-left: 125px;
    width: 325px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #02b4a2;
    color: white;
    cursor: pointer;
    overflow: hidden;
    background-color: black;
    display: block;
}

.cadbuttonb{
    float: left;
    margin-left: 125px; 
    width: 325px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #02b4a2;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: black; 
}

.cadbuttonc{
    float: left;
    padding-left: 25px; 
    width: 325px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #02b4a2;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: black;
}

*/

.anchortest{
    padding-top: 2300px;
    float: bottom;
    text-align: middle;
    font-size: 5px;
}


/* ----------------Quality of life--------------- */

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}